@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
$primary-font: "Jost", sans-serif;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}



// carousel 
.swiper-button-prev,.swiper-button-next{
    // border: 1px solid red;
    padding: 20px;
    background-color: green;
}
.swiper-button-prev:after,.swiper-button-next:after{
    font-size: 20px !important;
    color: white;
}
.swiper-pagination-bullet{
    background-color: green !important;
    opacity: 0.5 !important;
}
.swiper-pagination-bullet-active{
    height: 8px !important;
    width: 30px !important;
    border-radius: 5px !important;
    background-color: green !important;
    opacity: 1 !important;
}

// best seller
#bestseller{
    .swiper-horizontal{
        padding:0 0 60px 0;
    }
    .swiper-pagination{
        position: absolute;
        // bottom: -50px;
    }
    
    
}


// super food
@keyframes dance {
    0%, 100% {
      transform: translatey(0);
    }
    20% {
      transform: translatey(-5px);
    }
    40% {
      transform: translatey(5px);
    }
    60% {
      transform: translatey(-4px);
    }
    80% {
      transform: translatey(4px);
    }
  }
  
  .dance-on-hover:hover {
    animation: dance 0.6s ease-in-out;
  }

  //blog 
  .blog {
    position: relative;
  
    .swiper {
      position: relative;
  
      &:hover {
        .swiper-button-prev,
        .swiper-button-next {
          opacity: 1 !important;
          pointer-events: auto !important;
        }
      }
    }
    img{
      transition: all 0.5s ease-in-out;
    }
    img:hover{
      transform: scale(1.1);
    }
  
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #15803d;
      color: #fff;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      font-size: 5px !important;
      top: 35%;
      transition: background 0.3s, opacity 0.3s;
      --swiper-navigation-size: 15px;
      opacity: 0 !important;             // <--- force hide
      pointer-events: none !important;   // <--- disable interaction
      display: flex !important;
      justify-content: center;
      align-items: center;
  
      &:hover {
        background-color: #166534;
      }
    }
  }
 
  // subscribe - email
  .subscribe-email{
    background-image: url(assets/img/bg-email.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }